@import "./src/assets/scss/helpers/helpers";

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: $white;
  z-index: 10;
}

.h-top {
  border-bottom: 1px solid $grey;
  .c-container {
    display: flex;
  }
  .logo {
    a {
      display: block;
      padding: 1rem;
    }
  }
  .search {
    padding: 1rem 1rem 1rem 0;
    .pos-helper {
      display: flex;
      align-items: center;
      width: 240px;
      border: 1px solid $grey;
      border-radius: 2px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
      input {
        width: 100%;
        border: none;
        line-height: 20px;
        padding: 9px 10px;
        &:focus {
          outline: none;
        }
      }
      span {
        display: inline-block;
        padding-left: 10px;
        color: $black;
      }
    }
  }
  .navigation {
    margin-left: auto;
    padding-right: 1rem;
    ul {
      display: flex;
    }
    li {
      padding: 0 5px;
    }
    a {
      line-height: 40px;
      padding: 1rem 0.5rem;
      display: block;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: $black;
        opacity: 0;
      }
      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }
  }
}

.h-bottom {
  border-bottom: 1px solid $grey;
  .c-container {
    display: flex;
    padding: 1rem 80px;
  }
  .filters {
    display: flex;
    div {
      margin-right: 0.5rem;
    }
  }
  .map-switch {
    margin-left: auto;
  }
}