<header>
  <section class="h-top">
    <div class="c-container">
      <div class="logo">
        <a href="">
          <img src="assets/images/logo.png" />
        </a>
      </div>
      <div class="search">
        <div class="pos-helper">
          <span class="fas fa-search"></span>
          <input type="text">
        </div>
      </div>
      <div class="navigation">
        <nav>
          <ul>
            <li>
              <a href="">Log In</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
  <section class="h-bottom">
    <div class="c-container">
      <div class="filters">
        <div>
          <button class="c-button is-default is-outlined is-active">Beograd</button>
        </div>
        <div>
          <button class="c-button is-default is-outlined is-active-green">Novi Sad</button>
        </div>
        <div>
          <button class="c-button is-default is-outlined">Smederevo</button>
        </div>
      </div>
      <div class="map-switch">
        <label [ngClass]="mapSwitchActive ? 'c-switch is-active' : 'c-switch'">
          <input type="checkbox" (change)="onMapSwitchClicked()">
          <span></span>
        </label>
      </div>
    </div>
  </section>
</header>