@mixin buttonStyle($buttonColor, $textColor: $white, $textColorOutlined: $buttonColor){
    display: inline-block;
    padding: 4px 15px;
    color: $textColor;
    line-height: 20px;
    background-color: $buttonColor;
    border: 1px solid $buttonColor;
    border-radius: 6px;
    cursor: pointer;    
    @include  transition-all(0.2s);
    &:hover,
    &.is-active {
        background-color: rgba($buttonColor, 0.75);
    }
    &:focus {
        outline: none !important;
        box-shadow: 0 0 10px rgba($black, 0.15);
    }
    &.is-outlined {
        background-color: transparent;
        color: $textColorOutlined;
        &:hover {
            color: $textColor;
            background-color: rgba($buttonColor, 0.75);
        }
        &.is-active {
            color: $textColor;
            background-color: $buttonColor;
            &:hover {
                color: $textColor;
                background-color: rgba($buttonColor, 0.75);
            }
        }
    }
}
@mixin buttonActiveStyle($backgroundColor: $grey, $textColor: $white){
    background-color: $backgroundColor;  
    &:hover {
        background-color: rgba($backgroundColor, 0.75);
    }
    &.is-outlined {
        background-color: $backgroundColor;  
        color: $textColor;
        &:hover {
            color: $textColor;
            background-color: rgba($backgroundColor, 0.75);
        }
    }
}

.c-button {
    &.is-default {
        @include buttonStyle($grey, $black, $black);
    }
    &.is-active-default {
        @include buttonActiveStyle($grey, $black);
    }
    &.is-red {
        @include buttonStyle($red);
    }
    &.is-active-red {
        @include buttonActiveStyle($red);
    }
    &.is-green {
        @include buttonStyle($green);
    }
    &.is-active-green {
        @include buttonActiveStyle($green);
    }
    &.is-blue {
        @include buttonStyle($blue);
    }
    &.is-active-blue {
        @include buttonActiveStyle($blue);
    }
}