<div [ngClass]="mapActive ? 'locations map-active' : 'locations'">

  <div class="items-block">
    <div class="item" *ngFor="let location of locations">
      <div class="image-holder" [ngStyle]="{backgroundImage: 'url('+ location.photos[0] +')'}"></div>
      <div class="text-holder">
        <p class="address">{{ location.address }}</p>
        <h3>{{ location.name }}</h3>
        <a class="website">{{ location.website }}</a>
      </div>
    </div>
  </div>

  <div class="map-block">
    <div class="map-holder">
      Ovde ide mapa
    </div>
  </div>

</div>