@import "./src/assets/scss/helpers/helpers";

.locations {
  padding: 1rem 80px;
  transition: padding 0.4s;
  position: relative;

  .items-block {
    margin: -0.5rem;
    display: flex;
    flex-wrap: wrap;
    .item {
      padding: 0.5rem;
      flex: 0 0 20%;
    }
    .image-holder {
      overflow: hidden;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: $grey;
      &:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 66.66666666%;
      }
    }
    .text-holder {
      padding: 0.5rem 0;
      p {
        font-size: 0.875em;
        margin-bottom: 0.25rem;
        color: $red;
      }
      h3 {
        margin-bottom: 0;
        font-weight: 600;
        line-height: 1;
        max-height: 32px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 16px;
        overflow: hidden;
      }
      a {
        font-size: 0.875em;
        font-weight: 300;
      }
    }
  }

  .map-block {
    position: fixed;
    top: 152px;
    right: -33.33333333%;
    bottom: 0;
    width: 33.33333333%;
    padding: 1rem;
    transition: right 0.4s;
    .map-holder {
      height: 100%;
      width: 100%;
      background-color: $grey;
    }
  }
}
.locations {
  &.map-active {
    padding: 1rem 33.33333333% 1rem 1rem;

    .items-block {
      .item {
        flex: 0 0 33.33333333%;
      }
    }

    .map-block {
      right: 0;
    }
  }
}