/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/helpers/reboot';
@import 'assets/scss/helpers/grid';

@import 'assets/scss/theme/buttons';
@import 'assets/scss/theme/switch';

html {
    font-size: 10px;
    @include media-breakpoint-up(sm) {
        font-size: 20px;
    }
}
@include media-breakpoint-up(sm) {
    html {
        font-size: 20px;
    }
}
body {
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    padding-top: 152px;
}

::selection {
  background: $blue; /* WebKit/Blink Browsers */
  color: $white!important;
}
::-moz-selection {
  background: $blue; /* Gecko Browsers */
  color: $white!important;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}
a:focus, a:active,
button{
  outline: none!important;
}
a{
  color: $black;
  outline: none;
}

//a:active,
//a:visited,
//a:focus,
a:hover {
  @include transition-all(.2s);
  text-decoration: none;
  color: inherit;
}
a.underline:hover, a.underline:active, a.underline:focus, a.underline:visited {
  text-decoration: underline;
}

ul{
  margin: 0;
  padding: 0;
}

ul li{
  list-style-type: none;
}

img {
  height: auto;
  max-width: 100%;
}
